/*  Align */
.verticalAlign\:t {
	vertical-align: top;
}
.verticalAlign\:m {
	vertical-align: middle;
}
.verticalAlign\:b {
	vertical-align: bottom;
}
.top\:0{
	top: 0;
}
.left\:0{
	left: 0;
}
.wordBreak\:breakWord{
	word-break: break-word;
}
