/*  Layout */
.display\:f {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}
.display\:i_f {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
}
.display\:i {
	display: inline;
}
.display\:b {
	display: block;
}
.display\:i_b {
	display: inline-block;
}
.display\:t {
	display: table;
}
.display\:t_c {
	display: table-cell;
}

.overflow\:h {
	overflow: hidden;
}
.overflow\:s {
	overflow: scroll;
}
.overflow\:a {
	overflow: auto;
}

.height\:full {
	height: 100%;
}

.width\:full {
	width: 100%;
}

.overflow_x\:s {
	overflow-x: scroll;
}

.overflow_x_x\:h {
	overflow-x: hidden;
}
.overflow_x_y\:s {
	overflow-y: scroll;
}

.cursor\:p {
	cursor: pointer;
}

.overflow_f\:c {
	-o-object-fit: cover;
	   object-fit: cover;
}

.pull\:r{
	float: right;
}
.pull\:l{
	float: left;
}
