$sizes: '10', '12', '15', '20', '25', '30', '35', '40', '45', '50', '60', '100', '120', '150', '400';

@each $size in $sizes {
	.height\:#{$size} {
		height: #{$size}px;
	}
	.width\:#{$size} {
		width: #{$size}px;
	}
}

@each $size in $sizes {
	.minHeight\:#{$size} {
		min-height: #{$size}px;
	}
}

@media (max-width: 767px) {
	.width\:full\@m {
		width: 100%;
	}
	.width\:18\@m {
		width: 18px;
	}
}
